@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Open+Sans:wght@400;700;800&display=swap');

:root{
    --main-bg-color: #DFE9F4;
    --main-card-color: #FFFFFF;
    --link-color: #676882;
    --highlight-link-color: #FFFFFF;
    --highlight-link-bg-color: #4DAAF1;
    --text-color:#676882;
    --main-font: 'Lato', sans-serif;
}

body{
    height:100vh;
    
    /* Do define a default height */
    background-color: var(--main-bg-color);
    font-family: var(--main-font);
    color:var(--text-color);
    display: grid;
    /* grid-template-columns: repeat(4,25%); */
    grid-template-columns: repeat(4,1fr) ;
    grid-template-rows: repeat(2);
    gap: 14px;
    text-align: center;
    margin: 30px;
    margin-left: 44px;

}

.card{
    border-radius: 5%;
    height: 100%;
    width: 95%;
    background-color: var(--main-card-color);
    /*  */


}
.card:hover{
    filter: drop-shadow(0 0 0.75rem var(--text-color));
}

.container{
    position: relative;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    margin: 5px;

}
.topimage{
    max-width: 25%;
    height: auto;
}
.title{
    font-size:25px;
    font-weight: 400;
}
.content{
    font-weight: 300;
    font-size: 18px;
    text-align: center;
}

.container a{
    width: auto;
    text-decoration: none;
    color: var(--link-color);
    font-size: 20px;
    font-weight: 700;
}
hr{
    width: 20%;
}

.container a:hover{
    text-decoration: none;
    padding: 14px;
    border-radius: 25%;
    color: var(--highlight-link-color);
    background-color: var(--highlight-link-bg-color);
    /* box-shadow: -5px 15px 10px var(--highlight-link-bg-color); */

}